<h1>User</h1>

<button (click)="novo()">Novo</button>

<table>
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Email</th>
            <th>Gender</th>
            <th>Status</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let user of users | async">
            <td>{{user.id}}</td>
            <td>{{user.name}}</td>
            <td>{{user.email}}</td>
            <td>{{user.gender}}</td>
            <td>{{user.status}}</td>
            <td><a (click)="editar(user)">Editar</a></td>
            <td><a (click)="deletar(user)">Deletar</a></td>
        </tr>
    </tbody>
</table>