<h1>Primeira pagina</h1>
<app-header></app-header>
<br/>
<a [routerLink]="['pai']">Pai</a>
<app-rxjs></app-rxjs>
<router-outlet></router-outlet>

<!-- <div *ngIf="premiumCustomer; else notPremiumCustomer"> 

    <h1>Você é um cliente premium tem acesso a informações diferenciadas</h1>

</div>

<ng-template #notPremiumCustomer> 

    <h1>Você não é um cliente premium</h1>
</ng-template>

<ul *ngFor="let value of values">
    <li>{{value.id}} : {{value.name}} {{value.age}} Anos</li>
</ul>

<label>Digite o Nome: </label>

<input [(ngModel)]="nameAdded"/>
<br/><br/>
<label>Digite a Idade: </label>

<input [(ngModel)]="ageAdded"/>
<br/><br/>
<button (click)="added()">Adicionar item</button>
<br/><br/>
<button (click)="remove()">Remover item</button>

<h3>Utilização de binding de propriedades</h3>
<app-binding-page></app-binding-page>

<h3>Exemplo de PIPE</h3>
<p>Data: {{umaData | date: 'long'}}</p>
<p>Dinheiro: {{umDinheiro | currency: 'CAD'}}</p>
<p>Customizado uppercase: {{name | appUppercase }}</p>
<button (click)="sayHello()">Diga Ola pelo service</button> -->
